<!DOCTYPE html>

<html>
<head>
        <title>DevSofts - About</title>
          <link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/style.css">

</head>


<body>
        <div class="main-content">
                  {{>header}}
        <img class="potrait" src="/img/Profile.jpg">
        </div>
      
       
        {{>footer}}
</body>

</html>