<!DOCTYPE html>

<html>
<head>
        <title>DevSofts - Weather Service</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">       
</head>


<body>
        <div class="main-content">
                {{>header}}
                <p>Use this site to get your websote</p>
         <form>
                 <input placeholder="Location Address">
                 <button>Search</button>

         </form>
         <p id='message-1'></p>

        <p id='message-2'></p>
        </div>
	
	<p>Hey! This is site powered by raspberrypi model b</p>
        {{>footer}}
        <script src="/js/app.js"></script>
</body>

</html>
